[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# Shell
ipython = "*"
# Test and Coverage
factory-boy = "*"
pytest-django = "*"
pytest-tldr = "*"
# Documentation
sphinx_rtd_theme = "*"
pylint = "*"

[packages]
# Web Framwork
django = "~=2.2"
django-environ = "~=0.4.5"
django-model-utils = "~=4.0.0"
# Postgres
psycopg2-binary = "~=2.8.4"
psycopg2 = "~=2.8.4"
# GraphQl
graphene-django = "~=2.9.0"
#strawberry-graphql = "~=0.24.1" # switch to graphene I have more experience here

[scripts]
manage = "./manage.py"
tests = "./manage.py test" 
server = "./manage.py runserver"
commit = "./manage.py makemigrations"
migrate = "./manage.py migrate"
shell = "./manage.py shell"

[requires]
python_version = "3.7"
