[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# Shell
ipython = "*"
# Test and Coverage
factory-boy = "*"
pytest-django = "*"
pytest-tldr = "*"
pytest-cov = "*"
# Documentation
sphinx_rtd_theme = "*"
pylint = "*"

[packages]
# Web Framwork
django = "~=2.2"
django-environ = "~=0.4.5"
django-model-utils = "~=4.0.0"
# Postgres
psycopg2-binary = "~=2.8.4"
psycopg2 = "~=2.8.4"
# GraphQl
graphene-django = "~=2.9.0"
#strawberry-graphql = "~=0.24.1" # switch to graphene I have more experience here

[scripts]
# Pytest
test = "pytest -v"
# Django
manage = "./manage.py"
server = "./manage.py runserver"
commit = "./manage.py makemigrations"
migrate = "./manage.py migrate"
shell = "./manage.py shell"
# Documentation
init_docs = "sphinx-quickstart ./docs --sep -p Assassment -a 'Sharlon Regales' -l en --ext-autodoc"
docs = "sphinx-apidoc -o ./docs/source ."
html = "make html"

[requires]
python_version = "3.7"
