asgiref==3.2.7
click==7.1.2
Django==2.2.12
django-environ==0.4.5
graphql-core==3.1.0
h11==0.9.0
httptools==0.1.1
hupper==1.10.2
psycopg2==2.8.5
psycopg2-binary==2.8.5
Pygments==2.6.1
pytz==2020.1
sqlparse==0.3.1
starlette==0.13.3
strawberry-graphql==0.24.1
uvicorn==0.11.4
uvloop==0.14.0
websockets==8.1
